header{
    background-color: darkgrey;
}
footer{
    background-color: rgba(0,67,156,255);
}
.header-top{
    color: white;
    background-color: black;
}
.navbar{
    height: 100%;
    background-color: indianred;
}
.in-evidenza{
    background-color: aqua;
    min-height: 500px;
}
.x-img{
    min-height: 100px;
    min-width: 150px;
    border:1px solid black;
}
.bkg-black{
    background-color: rgba(48,48,48,255);
}
.bkg-grey{
    background-color: rgba(190,188,187,255);
}
.bkg-dblu{
    background-color: rgba(22,28,59,255);
}
